<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
    <link type="text/css" rel="stylesheet" href="">
    <link rel="icon" type="image/x-icon" href="../image/ico.svg">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<form method="post" th:action="@{/user/update-user/{id}(id=${user.id})}" th:object="${user}">
    <label for="firstname">Firstname: </label>
    <input th:field="*{firstname}" placeholder="Firstname" id="firstname" type="text"/>
    <label for="surname">Surname: </label>
    <input th:field="*{surname}" placeholder="Surname" id="surname" type="text"/>
    <label for="lastname">Lastname: </label>
    <input th:field="*{lastname}" placeholder="Lastname" id="lastname" type="text"/>
    <label for="username">Username: </label>
    <input th:field="*{username}" placeholder="Username" id="username" type="text"/>
    <label for="number">Number: </label>
    <input th:field="*{number}" placeholder="Number" id="number" type="text"/>
    <label for="email">Email: </label>
    <input th:field="*{email}" placeholder="Email" id="email" type="text"/>
    <label for="password">Password: </label>
    <input th:field="*{password}" placeholder="Password" id="password" type="text"/>
    <input type="submit" value="Edit user">
</form>
</body>
</html>