<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link type="text/css" rel="stylesheet" href="">
    <link rel="icon" type="image/x-icon" href="../image/ico.svg">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container-form">
    <form class="form" method="POST" th:action="@{/registration}" id="registration">
        <h1>Авторизация</h1>
        <div class="container">
            <label for="firstname">Имя</label>
            <input type="text" name="firstname" id="firstname" maxlength="30" minlength="2" pattern="[А-Яа-яЁё]+" title="Пожалуйста, вводите только русские символы" required>
        </div>
        <div class="container">
            <label for="surname">Фамилия</label>
            <input type="text" name="surname" id="surname" maxlength="30" minlength="2" pattern="[А-Яа-яЁё]+" title="Пожалуйста, вводите только русские символы" required>
        </div>
        <div class="container">
            <label for="lastname">Отчество</label>
            <input type="text" name="lastname" id="lastname" maxlength="30" minlength="2" pattern="[А-Яа-яЁё]+" title="Пожалуйста, вводите только русские символы" required>
        </div>
        <div class="container">
            <label for="username">Логин</label>
            <input type="text" name="username" id="username" maxlength="20" minlength="5" pattern="[A-Za-z0-9!@-_]+" title="Пожалуйста, вводите только английские символы или цифры, а также !@_" required>
        </div>
        <div class="container">
            <label for="number">Номер телефона</label>
            <input type="text" name="number" id="number" minlength="11" pattern="(8|\+7)[0-9]{10}" title="Введите номер телефона в формате +7XXXXXXXXXX или 8XXXXXXXXXX" required>
        </div>
        <div class="container">
            <label for="email">Почта</label>
            <input type="email" name="email" id="email" title="Пожалуйста, вводите только корректный тип электронной почты типа test@text.ru" required>
        </div>
        <div class="container">
            <label for="password">Пароль</label>
            <input type="text" name="password" id="password"  maxlength="20" minlength="5" pattern="[A-Za-z0-9!@-_]+" title="Пожалуйста, вводите только английские символы или цифры, а также !@_" required>
        </div>
            <input class="button" type="submit" value="Регистрация">
    </form>
    <form method="get" th:action="@{/login}">
        <input class="button" type="submit" value="Авторизация">
    </form>
</div>
</body>
</html>