<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User list</title>
</head>
<body>
<form method="get" th:action="@{/all}">
  <input placeholder="Value" type="text" name="name">
  <input type="submit" value="Search"/>
</form>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Password</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.firstname}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.lastname}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.number}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.password}"></td>
    <td>
      <a class="btn btn-primary" th:href="@{/delete-user/{id}(id=${user.id})}">Delete user</a>
      <a class="btn btn-primary" th:href="@{/edit-user/{id}(id=${user.id})}">Edit user</a>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/form-add}" class="btn btn-primary">Add user</a>
</body>
</html>